.user_form {
}
.user_form label {
	float: none;
	text-align:left;
	display:block;
	color: gray;
	font: 20px Arial;
}

.user_form input {
	border:solid 2px #aacfe4;
	background-color: white;
	color: black;
	font-size: 20px;
	width: 15em;
	margin-top: .5em;
	padding: 7px;
}
.user_form input:focus {	
	background-color: white;
	border: 2px inset blue;
}
.user_form input[type=submit] {
	background-color: green;
	border: 3px outset white;
	width:16em ;
	padding: 7px;

	color: white;
}
.user_form input[type=submit]:hover {
	border: 3px outset #1e1c77;
}