body {
	min-width: 550px;
	background-color:#102E51;
	font-family:helvetica;
	
}
h1 a {
	color:inherit;
	text-decoration:none;
}
h1 a:hover {
	color:green;
}
a.ast {
	font-family:times;
	color:green;
	padding-top:10px;
	font-size:3em;
	float:left;
}
#container {
	position:relative;
	width: 90%;
	min-height:30em;
	margin: 10px auto;
	background-color: #fff;
	color: #333;
	border: 1px solid gray;
	line-height: 130%;
}

#center {
	margin-left: 200px;
	margin-right: 250px;
	padding: 1em;
	max-width: 36em;
}
#center h1 {
	font-size:14pt;
}
#center h2 {
	color:gray;
	font-size:9pt;
}

#left {
	float: left;
	width: 160px;
	margin: 0;
	padding: 1em;
}
#right {
	float: right;
	width: 250px;
	margin: 0;
	padding: 1em;
}
#info_bar {
	width:100%;
	background-color:#E5CA7C;
}
.page_object {
	border: 1px solid black;
}
.tips h3 {
	font-weight:bold;
	font-color:#382D24;
	font-size:1.9em;
}

.navigation {
	padding-top:3em;
	
}
.navigation a {
	font-size:1.3em;
	color:gray;
	text-decoration:none;
}
.navigation a:hover {
	font-size:1.3em;
	color:green;
	text-decoration:none;
}

#footer {

}
