<h3><%= page.user.name%>'s Tallies</h3>
<div id="tallies" class="page_object">
	<ul class="tally_list">
			<li><a>Flag Football League</a> </li>
			<li><a>year end sales campaign </a></li>
			<li><a>happy hour at the fox and the hound</a></li>
	</ul>
</div><!--end tallies-->
