<h3>Your Boards</h3>
<div id="boards" class="page_object">
	<ul class="board_list">
		<% @page.user.boards.each do |board|%>
			<li><%= link_to "#{board.title}", user_board_url(:user_name => @page.user.login,
															 :board_url => board.url) %></li>
		<% end %>
	</ul>
</div><!--end boards-->
