<div id="left">
	
</div><!--end left-->
<div id="right">
	<div class="navigation">

	</div><!--end navigation-->
</div><!--end right-->
<div id="center">

	<% @nav_options << "#{ link_to @subject.title, show_subject_path }"%>
	<% @nav_options <<  ': edit' %>
	
	<%= render :partial => 'navigation', 
				:locals => { :subject => @subject, :options => @nav_options }%>

	<div id="general" class="page_object">
	   <%= render :partial => 'edit_subject_title', :locals => {:subject => @subject}%>
	</div><!--end general-->

	<div id="permissions" class="page_object">
			<%= render :partial => 'edit_subject_permissions', 
					   :locals  => { :subject => @subject }%>
			<div id="show_permissions">
				<%= render  :partial => 'show_subject_permissions',
							:locals  => { :subject => @subject }%>	
				
			</div><!--end show_permissions-->
	</div><!--end permissions-->

</div><!--end center-->
