<div id="left">
	<div class="navigation">
		<% if current_user.can(:write, @subject)%>
			<%= link_to 'Edit this subject', 
			edit_subject_url(	:user_name    => @subject.board.user.login,
								:subject_name => @subject.url,
								:board_url    => @subject.board.url) %> 			
		<% end %>
	</div><!--end navigation-->

</div><!--end left-->
<div id="right">
	
</div><!--end right-->
<div id="center">
	<% @nav_options << ": #{ @subject.title }"%>
	<%= render :partial => 'navigation', :locals => { :subject => @subject, :options => @nav_options }%>
	<h3>Tallies</h3>
	<ul>
		<% @subject.get_tallies_with_users.each do |key,value|%>
		<li><%= key.to_s + "=>" + value.to_s%></li>
		<% end %>
	</ul>
</div><!--end center-->

