<ul class="form">
<% form_remote_tag   :method	=>	'put',
					 :url	=>	{:action => 'update'},
					 :board => board do %>

	<%= render :partial => 'users/search_for_user'%>
	<%= hidden_field_tag :update_type, :permissions %>
	<li><%= select_tag :level, options_for_select( ['read','execute','write'])%></li>
	<li><%= submit_tag 'update'%></li>
<% end %>
</ul>