<% if board.is_public %>
	<p><a class="ast">*</a><h3 class="tips">This board is public</h3></p>
<% else %>
	<p><a class="ast">*</a><h3 class="tips">This board is private</h3></p>
<% end %>
<table>
<td>user</td>
<td>read</td>
<td>write</td>
<td>execute</td>
<% board.list_permissions.each do |user,permissions| %>
<tr>
	<td><%= user %></td>
	<td><%= "x" if permissions.include?('reader')%></td>
	<td><%= "x" if permissions.include?('subscriber')%></td>
	<td><%= "x" if permissions.include?('owner')%></td>
<% end %>
</table>
