<h2>Here is what others are tracking</h2>
<table>
<% for board in @boards %>
  <tr>
    <td><%=h board.user.login%></td>
	<td><%=h board.title %></td>
    <td><%=h board.is_public %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New board', new_board_path %>
