<div id="left">
	
</div><!--end left-->
<div id="right">
	
</div><!--end right-->
<div id="center">
	<h1>New tally</h1>
	<ul class="form">
	<% form_for([@subject,@tally],  :url => { :controller  =>  'tallies',
											  :action      =>   'create' },
									:user_name => @subject.board.user.login,
									:board_url => @subject.board.url,
									:subject_naem => @subject.url,
									:html => {:class => 'user_form'}) do |f| %>
		
	  <%= f.error_messages %>
	<li><%= f.submit "Tilly Tally" %></li>
	<% end %>
	</ul>
</div><!--end center-->